@import url("https://cdn.investigativedata.org/style/fonts.min.css");

a {
  color: inherit;
}

html,
body {
  min-height: 100vh;
  position: relative;
  /* background-color: var(--joy-palette-success-50); */
}
